*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.signup-form{
  background: linear-gradient(to right, #dcdcee, #b8d8d8c0);
  width: 100%;
  min-height: 100vh;
}

h2{
  display: flex;
  justify-content: center;
  padding: 30px 0px 10px 0px;
}

.form-control{
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  font-family: 'Manrope';
}

.form{
  background-color: #8bb0cc;
  padding: 20px 40px;
  border-radius: 10px;
}

.form .form-label{
  color: #39393a;
  font-size: 14px;
}

.form .form-input{
  width: 100%;
  padding: 10px 10px;
  margin: 5px 0px;
  border-style: none;
  border-radius: 5px;
}


.form .submit{
  width: 100%;
  color: #ffffff;
  background-color: #000000;
  border: none;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 0px;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 13px;
}
.form .submit:hover{
  color: #000000;
  background-color: #51689b;
}


.signin{
  margin-left: 50px;
  color: #832618;
}

.signin:hover{
  color: #4d5f6b;
}


.search-control{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.search-control .search,.button{
  padding: 10px 20px;
  margin: 10px 20px;
  border-radius: 5px;
  border: none;
}


.search-control .button{
  color: #ffff;
  background-color: #51689b;
}

/*style for table*/

.table{
  display: flex;
  justify-content: center;
  margin: 30px;
  
}

.table .tablebody{
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 2px solid #96a9d3;
  border-radius: 5px;
}

.table .tablebody .tabledata,button{
  padding: 10px;
  background-color: #b5d1e7;
  border: none;
}

.button2{
  padding: 15px 10px;
  background-color: #ff3737;
  color: #ffffff;
}
.button1{
  padding: 15px 10px;
  background-color: #00a323;
  color: #ffffff;
}

.logout{
  float: right;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 0px 80px 20px 0px;
}


.form .data1{
  width: 40%;
  margin-right: 5px;
}
.form .data2{
  width: 40%;
  margin-left: 30px;
}